@{
    ViewBag.Title = "ViFlix";
}

<div class="container body-content">
    <div class="jumbotron">
        <h1>ViFlix</h1>
        <p class="lead">WATCH ANYWHERE. CANCEL ANYTIME.</p>
    </div>
</div>