@using ViFlix.Models
@model IList<Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<hr/>

@{
    if (@Model.Count == 0)
    {
        <p>We don't have any customers yet.</p>
    }
    else
    {
        <table style="width: 100%">
            <thead>Customer</thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            @foreach (Customer customer in @Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td><a href="customers/details/@customer.Id">@customer.Name</a></td>
                </tr>
            }
   
        </table>
    }
}



